<div class="container">
    <div class="row">
        <div class="col-md-6 mt-2">
            <h4>Welcome to Server Manager 4.0</h4>
            <p>Manage your Servers and Users.</p>
            <br>
            <button class="btn btn-primary" (click)="onLoadServers()">Load Servers</button>
            <button class="btn btn-primary ms-2" (click)="onLoadServer1(1)">Load Server 1</button>
        </div>
        <div class="col-md-6 mt-2">
            <button class="btn btn-success" (click)="onLogin()">Login</button>
            <button class="btn btn-danger ms-2" (click)="onLogout()">Logout</button>
        </div>
    </div>
</div>